.add-booking-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 15cm;
  width: 12cm;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
  background: linear-gradient(135deg, #4c96c8, #e3e7e9);
  border: 1px ridge #3498db;
  margin-top: 2.7cm;
  margin-bottom: 2cm;
}

.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.label-column {
  width: 75px;
  margin: 5px;
  margin-right: 13px;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.input-column {
  flex: 1;
  display: flex;
  flex-direction: column;
}

input,
select {
  width: 100%;
  padding: 14px;
  margin: 5px 0;
  box-sizing: border-box;
  border: 1px solid #3498db;
  border-radius: 8px;
  font-size: 16px;
  outline: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

select {
  appearance: none;
  padding-right: 9px;
}

#add-booking-button {
  padding: 17px;
  margin-left: 6.2cm;
  background-color: #3498db;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.5s;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#add-booking-button:hover {
  background-color: #2980b9;
}

#add-new-booking-title {
  color: #ffffff;
  font-size: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
